* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    font-size: 16px;
}
.center {
    padding-left: calc(50% - 700px);
    padding-right: calc(50% - 700px);
}
.desktop {
}
.heder {
    background-color: #E1FF8F;
    background-image: url(img-gaim/group-stars.svg);
    background-repeat: no-repeat;
    background-position: right 0 top 0;    
}
.head__star-1 {
    position: absolute;
    padding-top: 69px;
    padding-left: 156px;
}
.head__star-2 {
    position: absolute;
    padding-top: 94px;
    padding-left: 63px;
}
.head__star-3 {
    position: absolute;
    padding-top: 538px;
    padding-left: 948px;
}
.head__star-4 {
    position: absolute;
    padding-top: 568px;
    padding-left: 1013px;
}
.heder__title {
    padding-top: 196px;
    padding-left: 120px;
    padding-bottom: 246px;
    max-height: 358px;
    max-width: 769px;
}
.heder__title-1 {
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78.02px;
}
.heder__title-2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 48px;
}
.heder__button {
    border: 1px solid #000;
    border-radius: 60px;
    min-width: 247px;
    font: inherit;
    padding: 16px 28px;
    cursor: pointer;
    background-color: #000000;
    height: 66px;
    font-size: 24px;
    font-weight: 600;
    line-height: 34.01px;
    color: rgb(255, 255, 255);
}
.heder__button:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.5s;
}
.heder__scrolling {
    background: #BCEC30;
    max-width: 100%; 
    overflow: hidden;
    white-space: nowrap; 
    padding: 10px 0; 
}
.heder__scrolling-games {
    overflow: hidden; 
    white-space: nowrap; 
    padding: 10px 0; 
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.04em;
}

.about-games {
}
.mini-games {
}
.footer {
}
.footer-text {
}